.section
{
    height: 100vh;
    width: 100%;
    padding:10px 0 0 0;
    background:linear-gradient($primary_color 65%,rgba(61,17,0,1) 100%);
    position:relative;
    
}

.section__title
{
    color:$text_color;
    text-align: center;
    padding:0 10px 0 10px;
    font-family: $secondary_font;
    font-weight: lighter;
    font-size:1.5rem;
    text-shadow: 5px 3px 3px black;
    @include medium {
        font-size:2rem;
    }
}

.hidden {
    opacity:0;
    z-index: -5;
}

.section__background
{
    width: 140%;
    position:absolute;
    bottom: 3%;
    left:-50%;
    z-index: -1;
    overflow: hidden;
    @include medium {
        display:none;
    }
}


// First Section

.first {
    z-index: -2;



.article
{
height: 40%;
margin-top: 15px;
display: flex;
flex-direction: column;
align-items: center;
@include medium {
    margin-top:20px;
    padding-top:20px;
    flex-direction: row;
    &:first-of-type{
        flex-direction: row-reverse;
    }
}

    
}

.article__image{
    margin:5px 20px 10px 20px;
    box-shadow: 6px 6px 3px black;
    width: 80%;
    @include medium {
        
        width: 50%;
    }
}


.article__text
{
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    padding: 5px;
    background-color: $secondary_color;
    color:$text_color;
    border-bottom: solid 5px ;
    border-top:solid 5px ;
    font-family: $description_font,sans-serif;
    @include medium {
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        align-items:center;
        height: 100%;
        font-size: 1.25rem;
        border-bottom: solid 5px ;
        border-top:solid 5px;
        background-color: transparent;

    }
    
    
}
}


// Second section

.second{
    background:linear-gradient(rgba(61,17,0,1) 35%, $primary_color 100%);
    display:flex;
    flex-direction:column;
    align-items: center;

    @include medium{
        
    }
    

    .section__title
    {
        font-size: 1.75rem;
        margin:15px 0 15px 0;
    }

    .section__grid
    {
        
        margin:10px 0 10px 0;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3,85px);
        @include medium {
            grid-template-columns: repeat(5,20%);
        }
        
    }

    .div__h2,.div__p
    {
        display:none;
        @include medium {
            display:block;
            font-family: $description_font;
            color:$text_color;
        }
    }

    .div__h2{
        font-size:1.5rem;
        margin-bottom: 5px;
    }
    .div__p{
        font-size: 1.25rem;
    }


    .section__div
    {
        @include medium{
            display: flex;
            flex-direction: column;
            align-items:center;
        }
    }


    .grid__img-medium
    {
        display: none;
        @include medium {
            display: inline-block;
        }
    }

    .section__grid-img
    {
        width: 100%;
        margin: 5px 0  5px 0;
    }
}

.third
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .section__h2
    {
        font-family: $description_font;
        font-size: 1.25rem;
    }

    .section__img{
        height: 15%;
    }




    .section__popup
    {
        z-index:99;
        opacity:1;
        transition: all 1s ease;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background-color:white;
    }

    .hidden {
        opacity:0;
        z-index: -5;
    }

    [data-caps="1"]+div
    {
        background-color: #c012d0;
    }
    [data-caps="2"]+div
    {
        background-color: #ae1010;
    }
    [data-caps="3"]+div
    {
        background-color: #1133ff ;
    }
    [data-caps="4"]+div
    {
        background-color: #0ac70a;
    }
}