.section
{
    height: 100vh;
    width: 100%;
    padding:10px 0 0 0;
    background:linear-gradient($primary_color 65%,rgba(61,17,0,1) 100%);
    position:relative;
    z-index: -2;
}

.section__title
{
    color:$text_color;
    text-align: center;
    padding:0 10px 0 10px;
    font-family: $secondary_font;
    font-weight: lighter;
    font-size:1.25rem;
    text-shadow: 5px 3px 3px black;
    @include medium {
        font-size:2rem;
    }
}

.section__background
{
    width: 140%;
    position:absolute;
    bottom: 3%;
    left:-50%;
    z-index: -1;
    overflow: hidden;
    @include medium {
        display:none;
    }
}


// First Section

.first {



.article
{
height: 40%;
margin-top: 15px;
display: flex;
flex-direction: column;
align-items: center;
@include medium {
    margin-top:20px;
    padding-top:20px;
    flex-direction: row;
    &:first-of-type{
        flex-direction: row-reverse;
    }
}

    
}

.article__image{
    margin:5px 20px 10px 20px;
    box-shadow: 6px 6px 3px black;
    width: 80%;
    @include medium {
        
        width: 50%;
    }
}


.article__text
{
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    padding: 5px;
    background-color: $secondary_color;
    color:$text_color;
    border-bottom: solid 5px ;
    border-top:solid 5px ;
    font-family: $description_font,sans-serif;
    @include medium {
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        align-items:center;
        height: 100%;
        font-size: 1.25rem;
        border-bottom: solid 5px ;
        border-top:solid 5px;
        background-color: transparent;

    }
    
    
}
}


// Second section

.second-1{
    background:linear-gradient(rgba(61,17,0,1) 35%, $primary_color 100%);
    display:flex;
    flex-direction:column;
    align-items: center;

    .section__title
    {
        font-size: 1.75rem;
        margin:15px 0 15px 0;
    }

    .section__grid
    {
        margin:10px 0 10px 0;
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    .section__grid-img
    {
        margin: 5px 0  5px 0;
    }
}